In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_csv("playoffStats.csv")

In [4]:
df.head()

,season,player,pos,age,team_id,g,gs,mp_per_g,fg_per_g,fga_per_g,...,ows,per,stl_pct,tov_pct,trb_pct,ts_pct,usg_pct,vorp,ws,ws_per_48
0,2022,Omer Yurtseven,C,23,MIA,9,0.0,4.2,1.3,2.0,...,0.1,25.8,0.0,0.0,10.8,0.647,22.6,0.1,0.2,0.228
1,2022,Kessler Edwards,SF,21,BRK,2,0.0,3.5,0.0,0.0,...,0.0,-2.2,7.3,100.0,0.0,NaN,6.6,0.0,0.0,-0.104
2,2022,Draymond Green,PF,31,GSW,22,22.0,32.0,3.1,6.5,...,0.4,12.3,1.8,26.4,12.7,0.534,14.0,0.5,1.4,0.094
3,2022,Danny Green,SF,34,PHI,12,12.0,26.6,3.0,7.4,...,0.0,9.9,2.0,12.7,7.1,0.576,15.1,0.3,0.3,0.049
4,2022,Devonte' Graham,PG,26,NOP,6,0.0,10.0,1.0,3.0,...,0.1,11.5,0.9,15.7,8.9,0.558,18.3,0.0,0.1,0.049

In [6]:
df2 =df[df['season']==2022]

In [7]:
df2.head()

,season,player,pos,age,team_id,g,gs,mp_per_g,fg_per_g,fga_per_g,...,ows,per,stl_pct,tov_pct,trb_pct,ts_pct,usg_pct,vorp,ws,ws_per_48
0,2022,Omer Yurtseven,C,23,MIA,9,0.0,4.2,1.3,2.0,...,0.1,25.8,0.0,0.0,10.8,0.647,22.6,0.1,0.2,0.228
1,2022,Kessler Edwards,SF,21,BRK,2,0.0,3.5,0.0,0.0,...,0.0,-2.2,7.3,100.0,0.0,NaN,6.6,0.0,0.0,-0.104
2,2022,Draymond Green,PF,31,GSW,22,22.0,32.0,3.1,6.5,...,0.4,12.3,1.8,26.4,12.7,0.534,14.0,0.5,1.4,0.094
3,2022,Danny Green,SF,34,PHI,12,12.0,26.6,3.0,7.4,...,0.0,9.9,2.0,12.7,7.1,0.576,15.1,0.3,0.3,0.049
4,2022,Devonte' Graham,PG,26,NOP,6,0.0,10.0,1.0,3.0,...,0.1,11.5,0.9,15.7,8.9,0.558,18.3,0.0,0.1,0.049

In [9]:
df2.groupby("team_id").pts_per_g.agg(["max","min","median","mean"])

          max  min  median      mean
team_id
ATL      21.2  0.0    8.70  7.850000
BOS      25.6  0.1    4.80  7.620000
BRK      26.3  0.0    8.40  9.266667
CHI      20.8  0.8    5.65  8.750000
DAL      31.7  1.2    3.65  8.328571
DEN      31.0  0.0    4.20  8.646154
GSW      27.4  0.8    5.60  8.664286
MEM      27.1  1.1    6.90  9.776923
MIA      27.4  0.0    7.85  8.414286
MIL      31.7  0.3    6.20  7.813333
MIN      25.2  0.0    6.20  9.100000
NOP      27.0  0.0    6.90  9.300000
PHI      23.6  0.0    3.70  7.600000
PHO      23.3  1.9    5.55  8.564286
TOR      22.8  0.0    3.30  7.653333
UTA      25.5  0.0    5.60  8.650000

In [10]:
df2.groupby("team_id").pts_per_g.agg(["max","min","median","mean"]).style.format({"max": "{:.1f}", "min": "{:.1f}", "median": "{:.1f}", "mean": "{:.1f}"})

In [12]:
df2.groupby("team_id").pts_per_g.agg(["max","min","median","mean"]).style.format( {**{col :"{:.1f}" for col in ["max","min","median","mean"]}}).set_caption("NBA Playoff  Points Per Game by Team")

In [13]:
df2.groupby("team_id").pts_per_g.agg(["max","min","median","mean"]).style.highlight_max(axis=0, color="lightgreen").highlight_min(axis=0, color="lightcoral")

In [14]:
# Please note that if you want to highlight by row, you need to specify axis=1

df2.groupby("team_id").pts_per_g.agg(["max","min","median","mean"]).style.highlight_max(axis=1, color="lightgreen").highlight_min(axis=1, color="lightcoral")

In [15]:
# Letâ€™s say we apply a gradient background color only to the â€˜meanâ€™ column:

df2.groupby("team_id").pts_per_g.agg(["max","min","median","mean"]).style.format( {**{col :"{:.1f}" for col in ["max","min","median","mean"]}}).set_caption("NBA Playoff  Points Per Game by Team").background_gradient(axis = 0, cmap='Blues', subset="mean",vmin=7.5, vmax=10)

In [16]:
# We can also apply the gradients to the text with the text_gradient method:

df2.groupby("team_id").pts_per_g.agg(["max","min","median","mean"]).style.format( {**{col :"{:.1f}" for col in ["max","min","median","mean"]}}).set_caption("NBA Playoff  Points Per Game by Team").text_gradient(subset="mean", cmap='Blues', vmin=6.5, vmax=10)

In [22]:
# Embedded bars

(df2.groupby('team_id')
 .obpm
 .agg([ 'mean'])
 .style
 .format({**{col: '{:.1f}' for col in ['max', 'min', 'median', 'mean']}})
 .bar(color=['lightcoral','lightgreen'],subset='mean',align='mid')
)